{% load static %}
<style>
 
    footer{
        width:100%;
        background-color:#141414;
        color:#FAFAFA;
        font-family: 'Nunito', sans-serif;
    }
    .nav-link{
        font-size:18px;
        line-height:24.55px;
        color:#FAFAFA;
    }
    .nav-link:hover{
        color:#5A40AB;
    }
    .footer-icon{
        color:#5B34D6;
        height:20px;
        width:15px;
        margin-bottom:0px;
    }
    .footer-icon.fb{
      width: 8px;
    }
    body{
      background-color:#1F163B;
      overflow-x:hidden;
    }
    .email-input1{
        width:60%;
        height:58px;
        font-size: 18px;
        background-color:  #141414;
        border-radius:12px 0px 0px 12px;
        border:1px solid #5A40AB;
    }
    .copyrights{
      margin-bottom:57px;
      font-family: 'Nunito', sans-serif;
      font-size:24px;
      color:#FAFAFACC;     
    }
    .apply-btn{
      border:1px solid #5A40AB;
      color:#FAFAFA;
      background-color:#5A40AB;
      border-radius:8px;
      font-size: 18px;
      width:30%;
      border-radius: 0px 12px 12px 0px;
      font-family: 'Nunito', sans-serif;
    }

    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      left: 20px;
      border-radius:50px;
      z-index: 99;
      border: none;
      border:2px solid black;
      outline: none;
      background-color:#5A40AB;
      cursor: pointer;
      padding: 15px;
     
    }

    .quick-links{
      margin-top:107px;
      margin-bottom:80px;
      margin-left:80px;
    }

    #myBtn:hover {
      background-color: white;
      border:3px solid #5A40AB;
    }

    .footer-btn{
      margin-top:162px;
      margin-left:10%;
    }
    .footer-logo-icon{
      margin-top:160px;text-align: center;
    }

    @media screen and (max-device-width: 375px) {
      .copyrights{
        margin-left:0px;
        text-align: center;
        font-size: 14px;
      }
      .apply-btn{
        font-size: 18px;
        width:30%;
        font-size: 13px;
        border-radius: 0px 6px 6px 0px;
      }  
      .email-input1{
        width:60%;
        font-size: 13px;
        height:39px;
        border-radius: 6px 0px 0px 6px;

      }
      .footer-btn{
        margin-top:52px;       
        text-align: center;
        margin-left:0px;
        margin-bottom: 90px;
      }
      .quick-links{
        margin-left:19px;
        text-align: left;
      }
      .nav-link{
        font-size: 14px;
      }
      .form-inline{
        margin-left:10%;
        margin-right: 10%;      
      }
      .footer-logo-icon{
        padding-left:38px;
        margin-top:50px;text-align: left;
      }
      .quick-links{
        margin-left:-38px;
      }
      #myBtn {
        border-radius:50px;
        padding: 1.5%;      
      }
      
    }

    @media screen and (max-device-width: 767px) {

      .quick-links{
        margin-left:0px;
      }
      .footer-logo-icon{
        margin-top:10%;
      }
      
      .footer-btn{
        margin-top: 10%;
        margin-bottom: 10%;       
      }  

      footer{
        padding-left:10%;
        padding-right: 10%;
      }
      .copyrights{
        text-align: center;
      }
      
    }


</style>

<button onclick="topFunction()" id="myBtn" title="Go to top"><img class="top-btn" src="{% static 'img/top.svg' %}"></button>

<footer>
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12" >
         <ul  style="list-style: none;"  class="quick-links">
             <li><a class="nav-link" href="{% url 'woodogdata' %}">Home</a></li>
             <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
             <li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
             <li><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
             <li><a class="nav-link" href="{% url 'faq' %}">FAQs</a></li>
           <li><a class="nav-link" href="{% url 'gallery' %}">Gallery</a></li>
         </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 footer-logo-icon">
          <div class="row">
              <p style="font-weight: 700;font-size:18px;">WOODOG</p>
          </div>
          <div class="row" style="display: inline-block;">
              <a href="#"><img class="col footer-icon fb"  src="{% static 'img/Vector.svg' %}" ></a>
              <a href="#"><img class="col footer-icon" src="{% static 'img/twitter.svg' %}" ></a>
              <a href="#"><img class="col footer-icon" src="{% static 'img/mailbox.svg' %}" ></a>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 footer-btn" >
        <form class="form-inline">
          <div class="row">
              <input type="email"  class="email-input1 form-control" id="inputEmail4" placeholder="Email">
              <button class="btn apply-btn" type="submit">Sign up</button>
          </div>
        </form>
      </div>
  </div>
  <div class="row">
      <p class="col-lg-4 col-md-4 col-sm-12 col-12"></p><p class="col-lg-4 col-md-4 col-sm-12 col-12"></p>
      <p class="copyrights col-lg-4 col-md-4 col-sm-12 col-12">Woodog &copy <script>document.write(new Date().getFullYear())</script></p>
  </div>
  
<script>
  var mybutton = document.getElementById("myBtn");
  
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>
</footer>