{% load static %}
<style>
  ::-webkit-scrollbar{
        width: 20px;
    }
    ::-webkit-scrollbar-thumb{
        background: linear-gradient(#b8b8bb,transparent, #888a8b);
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(#9b8fdb,transparent, #584aa7);
        border-radius: 50px;
    }
  
    #header{
      margin:60px 120px;
      background-color: #1F163B;
      font-family: 'Nunito', sans-serif;
    }
    .nav-link{
        font-size:18px;
        line-height:24.55px;
        color:#FAFAFA;
        margin-left:45px;
    }
    .nav-link:hover{
        color:#5A40AB;
    }
    #sign-up{
      margin-right:35px;
    }
    #login-navbtn{
      border:1px solid #5A40AB;
      color:#FAFAFA;
      padding: 16px 45px 16px 45px;
      border-radius:8px;
      font-size:18px;
      font-family: 'Nunito', sans-serif;
    }
    #login-navbtn:hover{
      background-color:#5A40AB;
      color:#FAFAFA;
    }
    .navbar-brand.logo {
      background: transparent;
    }
 
    
</style>


 
<nav id="header" class="navbar navbar-expand-lg">
  <!-- <a class="navbar-brand logo" href="#"><img src="{% static 'img/woodog-logo1.png' %}" style="width: 80px;"></a> -->
  <div class="container-fluid">
    <a class="navbar-brand logo" href="{% url 'woodogdata' %}"><img src="{% static 'img/woodog-logo1.png' %}" style="width: 119px;"></a>
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color:white"></span>
      <div id="navbar-close" class="hidden">
          <span class="glyphicon glyphicon-remove"></span>
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'woodogdata' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appdashboard' %}">Gallery</a>
        </li>
      </ul>

      <a class="nav-link" id="sign-up" href="{% url "register" 'seeker' %}">Sign up</a>
      <a class="btn" id="login-navbtn" type="submit" href="{% url 'login' %}">Login</a>

    </div>
  </div>
</nav>
